---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
// import MetShow from '../components/MetShow.astro';
const allBlogPosts = await getCollection('blog');
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
    <main>
      <div class="masthead">
        <h1>Daily Scrawls</h1>
        <p>A not so daily blog.</p>
      </div>
      			<section>
				<ul>
					{
						allBlogPosts.map((post) => (
							<li>
								<a  class="title" href={`/blog/${post.id}/`}>{post.data.title}
									<span class="date">
										<FormattedDate date={post.data.pubDate} />
									</span>
								</a>
							</li>
						))
					}
				</ul>
			</section>
    </main>
   <!--.. <MetShow />.--> 		
   <Footer />
	</body>
</html>
